/* A5 = alto 559px largo 794px */

body {
  width: 790px;
  height: 559px;
  border: 1px solid;
  padding: 5px 20px;
}

.equipments-table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding-left: 10px;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.equipments-table {
  width: 100%;
  margin: 10px 0px;
}

.precio {
  width: 10%;
}

.totals-table {
  width: 100%;

  border-collapse: collapse;
}

.cliente {
  width: 59.1%;
}

.clausulas {
  width: 43.4%;
  padding: 10px;
}

.total {
  width: 30%;
  padding-left: 89px;
}


.empresa {
  margin-bottom: 10px;
}

.company-name,
.company-description,
.company-phones,
.company-address {
  text-align: center;
}

.company-name {
  font-size: 50px;
  font-style: oblique;
  text-align: center;

}

.company-description {
  font-size: larger;
}

.company-phones {
  font-size: larger;
  text-decoration: underline;
}

.company-address {
  width: 100%;
  border-spacing: 0px;
  margin-top: 10px;
  font-size: 20px;
}