/* Recibo térmico 80mm */
body {
    width: 80mm;
    margin: 0 auto;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

/* EMPRESA */

.empresa {
    text-align: center;
    margin-bottom: 5px;
}

.company-name {
    font-size: 25px;
    font-weight: bold;
}

.company-description {
    font-size: 12px;
    margin-top: 5px;
}

.company-phones {
    font-size: 12px;
    margin-top: 5px;
}

.sales-note-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 1px solid #000;
}

.sales-note-left {
    width: 40%;
    text-align: left;
    border-right: 0px;
}

.sales-note-table th {
    border: 1px solid #000;

}


.sales-note-table td {
    padding: 2px 10px;
}

.company-phones {
    font-size: large;
    font-weight: bold;
}


/* TABLA CLIENTES */

.client-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 1px solid #000;
    text-align: center;
}

.client-table th {
    padding: 5px;
    border: 1px solid #000;
}


/* EQUIPOS */

.equipments-table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    border: 1px solid black;

}

.equipments-table th {
    border: 1px solid black;
    border-collapse: collapse;
}

.device-row {
    padding: 5px 0px;
    font-style: italic;
}

.equipments-table-head {
    padding: 10px 0px;
}

.equipments-table td {
    padding: 2px 10px;
}

/* TOTALES  */

.totals-table {
    border: solid 1px black;
    width: 100%;
    padding: 6px 2px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

/* CLAUSULAS */

.company-clauses {
    border: 1px solid black;
    margin-bottom: 5px;
}

.company-clauses td {
    padding: 5px;
}

.clauses {
    font-size: 11px;
}

/* HORARIO DE ATENCIÓN */


.company-horary {
    border: 1px solid black;
    margin-bottom: 5px;
}

/* DIRECCION */

.company-address {
    border: 1px solid black;
    text-align: center;
    font-style: italic;
    padding: 5px, 2px;
}